<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/aaad3dd9-c110-4259-8f7f-b47f80c53543/resourceGroups/FPTStudent/providers/Microsoft.Web/sites/1640webenterpriseapi</ResourceId>
    <ResourceGroup>FPTStudent</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://1640webenterpriseapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>53d1d4ca-4f12-4404-a611-5673a4901059</ProjectGuid>
    <PublishUrl>https://1640webenterpriseapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$1640webenterpriseapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>